body {
    margin: 0;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 20px;
}

.main ul{
    list-style-type: circle;
    font-size: 20px;
}

.main a{
    color:cadetblue;
}

.main a:hover{
    color:dimgrey;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
    padding-left: 30px; 
}

.sidebar h2 {
    margin-top: 5px;
}

.links_nav{
    margin-top: 20px;
}

.links_nav a{
    color:cadetblue;
}

.links_nav a:hover{
    color:dimgrey;
    text-decoration: none;
}

.links_nav div{
    margin-top: 5px;
}

input[type=submit]{
    padding: 3px 15px;
}

.main .btn-outline-secondary{
    padding: 2px 20px;
    border: 1px solid cadetblue;
}

.main .btn-outline-secondary:hover{
    color: dimgrey;
    background-color: #f0f0f0;
    text-decoration: none;
}